<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2c8c3dca-f148-4683-9125-03b11a461502" Alias="homePage" Level="1">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>RBA Labs landing page</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>homePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019d8684-96ff-7e87-b566-7248939b86c3">homePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>36bac736-ada6-4fe1-83d5-9a86c6592c7f</Key>
      <Name>Contact Email</Name>
      <Alias>contactEmail</Alias>
      <Definition>f8237777-8952-486c-8271-34724ca9ce35</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c4f6247c-fd7e-4261-b5e0-cee53f00f149</Key>
      <Name>CTA Button Text</Name>
      <Alias>ctaButtonText</Alias>
      <Definition>f8237777-8952-486c-8271-34724ca9ce35</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>11</SortOrder>
      <Tab Alias="trust">Trust and CTA</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3c31017e-89f0-4fcd-ab13-fd8e274d43e4</Key>
      <Name>CTA Button Url</Name>
      <Alias>ctaButtonUrl</Alias>
      <Definition>f8237777-8952-486c-8271-34724ca9ce35</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>12</SortOrder>
      <Tab Alias="trust">Trust and CTA</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9a4f705f-de51-4456-b934-adec37be4d79</Key>
      <Name>CTA Text</Name>
      <Alias>ctaText</Alias>
      <Definition>4021798d-02a2-42fd-89ef-b4556c9c4501</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="trust">Trust and CTA</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>be269bec-aa5f-439d-9d11-78885a54c72e</Key>
      <Name>CTA Title</Name>
      <Alias>ctaTitle</Alias>
      <Definition>f8237777-8952-486c-8271-34724ca9ce35</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>9</SortOrder>
      <Tab Alias="trust">Trust and CTA</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>86350c38-acf3-4662-86ee-361591ea1da8</Key>
      <Name>Footer Lead</Name>
      <Alias>footerLead</Alias>
      <Definition>4021798d-02a2-42fd-89ef-b4556c9c4501</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>15ed7155-57fb-4450-99e3-0b20edf24850</Key>
      <Name>Footer LinkedIn Url</Name>
      <Alias>footerLinkedInUrl</Alias>
      <Definition>f8237777-8952-486c-8271-34724ca9ce35</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>15790a61-3001-4305-8932-7decfc8ffda3</Key>
      <Name>Footer Phone</Name>
      <Alias>footerPhone</Alias>
      <Definition>f8237777-8952-486c-8271-34724ca9ce35</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ee3eb97c-d6e3-45da-b898-1d42047187de</Key>
      <Name>Footer Phone Link</Name>
      <Alias>footerPhoneLink</Alias>
      <Definition>f8237777-8952-486c-8271-34724ca9ce35</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9e3caea8-7301-4752-93e0-ed2737bdc01f</Key>
      <Name>Hero Heading Accent</Name>
      <Alias>heroHeadingAccent</Alias>
      <Definition>f8237777-8952-486c-8271-34724ca9ce35</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>37d2ce05-4b11-483c-b60c-3976ed6ae4f3</Key>
      <Name>Hero Heading Prefix</Name>
      <Alias>heroHeadingPrefix</Alias>
      <Definition>f8237777-8952-486c-8271-34724ca9ce35</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9fcf5c8f-baaa-4c02-9340-97b7255c867f</Key>
      <Name>Hero Heading Suffix</Name>
      <Alias>heroHeadingSuffix</Alias>
      <Definition>f8237777-8952-486c-8271-34724ca9ce35</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f5888cec-a1e7-4092-ab3f-0c97eae573bb</Key>
      <Name>Hero Kicker</Name>
      <Alias>heroKicker</Alias>
      <Definition>f8237777-8952-486c-8271-34724ca9ce35</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>43583181-cced-4293-bce7-73355ad7d784</Key>
      <Name>Hero Lead</Name>
      <Alias>heroLead</Alias>
      <Definition>4021798d-02a2-42fd-89ef-b4556c9c4501</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>63ab154b-e245-4310-aeda-16a0522186ac</Key>
      <Name>Hero Metric 1 Text</Name>
      <Alias>heroMetric1Text</Alias>
      <Definition>f8237777-8952-486c-8271-34724ca9ce35</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>97fee601-f8fa-4510-b9ec-0daba94d2a94</Key>
      <Name>Hero Metric 1 Value</Name>
      <Alias>heroMetric1Value</Alias>
      <Definition>f8237777-8952-486c-8271-34724ca9ce35</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>9</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>65754de9-0aac-4d6e-bfca-066ff8a8d33f</Key>
      <Name>Hero Metric 2 Text</Name>
      <Alias>heroMetric2Text</Alias>
      <Definition>f8237777-8952-486c-8271-34724ca9ce35</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>12</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>340a9f0a-4500-4996-8e00-332fd5537a9b</Key>
      <Name>Hero Metric 2 Value</Name>
      <Alias>heroMetric2Value</Alias>
      <Definition>f8237777-8952-486c-8271-34724ca9ce35</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>11</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>be8d6cee-6232-4c5c-aa87-849ffdaacba9</Key>
      <Name>Hero Metric 3 Text</Name>
      <Alias>heroMetric3Text</Alias>
      <Definition>f8237777-8952-486c-8271-34724ca9ce35</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>14</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0c401d36-329c-49d7-b797-34875fbb4ec1</Key>
      <Name>Hero Metric 3 Value</Name>
      <Alias>heroMetric3Value</Alias>
      <Definition>f8237777-8952-486c-8271-34724ca9ce35</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>13</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d977753a-7bd4-4eb8-9a60-734b10600226</Key>
      <Name>Hero Primary Button Text</Name>
      <Alias>heroPrimaryButtonText</Alias>
      <Definition>f8237777-8952-486c-8271-34724ca9ce35</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>582e6b53-c03b-4bd9-a88b-d0e0092d7ab8</Key>
      <Name>Hero Primary Button Url</Name>
      <Alias>heroPrimaryButtonUrl</Alias>
      <Definition>f8237777-8952-486c-8271-34724ca9ce35</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d9952e35-1e8b-45a1-869c-aa28a7016851</Key>
      <Name>Hero Secondary Button Text</Name>
      <Alias>heroSecondaryButtonText</Alias>
      <Definition>f8237777-8952-486c-8271-34724ca9ce35</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>11e463f7-d5aa-49b3-93d9-a97d65997759</Key>
      <Name>Hero Secondary Button Url</Name>
      <Alias>heroSecondaryButtonUrl</Alias>
      <Definition>f8237777-8952-486c-8271-34724ca9ce35</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1e6a72ed-1f57-4e05-b1d0-c087c22dbefe</Key>
      <Name>Meta Description</Name>
      <Alias>metaDescription</Alias>
      <Definition>4021798d-02a2-42fd-89ef-b4556c9c4501</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="seo">SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>126f638d-e6cb-4e6f-81c4-a321e5077609</Key>
      <Name>Project 1 Text</Name>
      <Alias>project1Text</Alias>
      <Definition>4021798d-02a2-42fd-89ef-b4556c9c4501</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="projects">Projects</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>67b8a465-b6a3-4018-9a1e-03ca440f6585</Key>
      <Name>Project 1 Title</Name>
      <Alias>project1Title</Alias>
      <Definition>f8237777-8952-486c-8271-34724ca9ce35</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="projects">Projects</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e988cacd-3edc-44ee-966d-025922fdce51</Key>
      <Name>Project 2 Text</Name>
      <Alias>project2Text</Alias>
      <Definition>4021798d-02a2-42fd-89ef-b4556c9c4501</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="projects">Projects</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ddf452c0-5468-424d-98ca-ba2f7d0b6c9a</Key>
      <Name>Project 2 Title</Name>
      <Alias>project2Title</Alias>
      <Definition>f8237777-8952-486c-8271-34724ca9ce35</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="projects">Projects</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e39ea327-f4ed-4d89-a2cb-945f0bf61c40</Key>
      <Name>Project 3 Text</Name>
      <Alias>project3Text</Alias>
      <Definition>4021798d-02a2-42fd-89ef-b4556c9c4501</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="projects">Projects</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f74619f2-f77c-4839-a829-b2613964fb97</Key>
      <Name>Project 3 Title</Name>
      <Alias>project3Title</Alias>
      <Definition>f8237777-8952-486c-8271-34724ca9ce35</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="projects">Projects</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>df213e92-1776-4cd2-aaa3-7868b5cd3d41</Key>
      <Name>Projects Title</Name>
      <Alias>projectsTitle</Alias>
      <Definition>f8237777-8952-486c-8271-34724ca9ce35</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="projects">Projects</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>656976bd-37bf-4f0d-b3ed-19b55ddfed02</Key>
      <Name>Service 1 Text</Name>
      <Alias>service1Text</Alias>
      <Definition>4021798d-02a2-42fd-89ef-b4556c9c4501</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="services">Services</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3085d846-4831-4b9a-a747-7492d64609b0</Key>
      <Name>Service 1 Title</Name>
      <Alias>service1Title</Alias>
      <Definition>f8237777-8952-486c-8271-34724ca9ce35</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="services">Services</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4ad9260c-2975-43f3-b8f8-8fe963dad2c4</Key>
      <Name>Service 2 Text</Name>
      <Alias>service2Text</Alias>
      <Definition>4021798d-02a2-42fd-89ef-b4556c9c4501</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="services">Services</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2252d9ab-95e9-4ea9-910d-d0d60d2a6c2b</Key>
      <Name>Service 2 Title</Name>
      <Alias>service2Title</Alias>
      <Definition>f8237777-8952-486c-8271-34724ca9ce35</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="services">Services</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3ac665ea-f472-44b8-9d36-a00b3ec53f36</Key>
      <Name>Service 3 Text</Name>
      <Alias>service3Text</Alias>
      <Definition>4021798d-02a2-42fd-89ef-b4556c9c4501</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="services">Services</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3195018e-d115-4252-abc2-db0885937ed2</Key>
      <Name>Service 3 Title</Name>
      <Alias>service3Title</Alias>
      <Definition>f8237777-8952-486c-8271-34724ca9ce35</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="services">Services</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>71ab9844-bdda-48be-bcac-843ebcd04d5c</Key>
      <Name>Service 4 Text</Name>
      <Alias>service4Text</Alias>
      <Definition>4021798d-02a2-42fd-89ef-b4556c9c4501</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>9</SortOrder>
      <Tab Alias="services">Services</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5a358dba-7122-4a42-8aef-d6ecfd639934</Key>
      <Name>Service 4 Title</Name>
      <Alias>service4Title</Alias>
      <Definition>f8237777-8952-486c-8271-34724ca9ce35</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="services">Services</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>07569def-f478-4773-a995-bf7527e85237</Key>
      <Name>Services Lead</Name>
      <Alias>servicesLead</Alias>
      <Definition>4021798d-02a2-42fd-89ef-b4556c9c4501</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="services">Services</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>149fca15-6292-40ac-bd95-8639124668ab</Key>
      <Name>Services Title</Name>
      <Alias>servicesTitle</Alias>
      <Definition>f8237777-8952-486c-8271-34724ca9ce35</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="services">Services</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>257d9953-a3cd-47b2-8055-0e50f898bda5</Key>
      <Name>Site Title</Name>
      <Alias>siteTitle</Alias>
      <Definition>f8237777-8952-486c-8271-34724ca9ce35</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>562bec6d-70cd-48a9-8aff-3acbb4657978</Key>
      <Name>Trust Stat 1 Label</Name>
      <Alias>trustStat1Label</Alias>
      <Definition>f8237777-8952-486c-8271-34724ca9ce35</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="trust">Trust and CTA</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>32ac9a35-f8ef-43dc-9091-efd8ed87013a</Key>
      <Name>Trust Stat 1 Value</Name>
      <Alias>trustStat1Value</Alias>
      <Definition>f8237777-8952-486c-8271-34724ca9ce35</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="trust">Trust and CTA</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>87ee2731-33cb-4639-b806-00417ce46b23</Key>
      <Name>Trust Stat 2 Label</Name>
      <Alias>trustStat2Label</Alias>
      <Definition>f8237777-8952-486c-8271-34724ca9ce35</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="trust">Trust and CTA</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>91bdd382-196a-442f-84f6-ccae56ed9d52</Key>
      <Name>Trust Stat 2 Value</Name>
      <Alias>trustStat2Value</Alias>
      <Definition>f8237777-8952-486c-8271-34724ca9ce35</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="trust">Trust and CTA</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b217270a-0919-44f3-b850-44a1c6948a16</Key>
      <Name>Trust Stat 3 Label</Name>
      <Alias>trustStat3Label</Alias>
      <Definition>f8237777-8952-486c-8271-34724ca9ce35</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="trust">Trust and CTA</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>852e14af-c13f-4bd1-aaea-c6d540027cb7</Key>
      <Name>Trust Stat 3 Value</Name>
      <Alias>trustStat3Value</Alias>
      <Definition>f8237777-8952-486c-8271-34724ca9ce35</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="trust">Trust and CTA</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0ae34e6f-c8a6-4fdc-b951-a87b98c1663e</Key>
      <Name>Trust Stat 4 Label</Name>
      <Alias>trustStat4Label</Alias>
      <Definition>f8237777-8952-486c-8271-34724ca9ce35</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="trust">Trust and CTA</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c56bf1c2-cf56-4fbd-a1e8-1919f9b3c60a</Key>
      <Name>Trust Stat 4 Value</Name>
      <Alias>trustStat4Value</Alias>
      <Definition>f8237777-8952-486c-8271-34724ca9ce35</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="trust">Trust and CTA</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a40b045e-5b31-4e81-b68b-8f54baf33f6a</Key>
      <Name>Trust Title</Name>
      <Alias>trustTitle</Alias>
      <Definition>f8237777-8952-486c-8271-34724ca9ce35</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="trust">Trust and CTA</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>326c509c-56d5-40ff-a69b-7b8340823cd2</Key>
      <Caption>Services</Caption>
      <Alias>services</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>4e0b7123-f700-4b08-9c05-b17f0148971d</Key>
      <Caption>SEO</Caption>
      <Alias>seo</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>5121ea4c-5d0b-4055-8820-70d1013b2e7d</Key>
      <Caption>Footer</Caption>
      <Alias>footer</Alias>
      <Type>Group</Type>
      <SortOrder>6</SortOrder>
    </Tab>
    <Tab>
      <Key>7598cd2a-296f-41d4-8682-860268430ecf</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>76cfb58a-20ed-4746-a4e5-95a1d0a544d2</Key>
      <Caption>Projects</Caption>
      <Alias>projects</Alias>
      <Type>Group</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>88c66eec-56e1-42c0-a4b6-45ddb3b556eb</Key>
      <Caption>Trust and CTA</Caption>
      <Alias>trust</Alias>
      <Type>Group</Type>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Key>e9ff40eb-7f0e-41b5-97d2-f74fd102aad6</Key>
      <Caption>Hero</Caption>
      <Alias>hero</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>