<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4021798d-02a2-42fd-89ef-b4556c9c4501" Alias="RBA Paragraph" Level="1">
  <Info>
    <Name>RBA Paragraph</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>